apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: prod-digisense-microservices
  annotations: 
    kubernetes.io/ingress.global-static-ip-name: "gca-gke-staticip"
    kubernetes.io/ingress.allow-http: "false"
spec:
  rules:
  - http:
      paths:
        - path: /*
          backend:
            serviceName: prod-digisense-portal-svc
            servicePort: 8001
        - path: /unifiedlogin/*
          backend:
            serviceName: prod-digisense-unifiedlogin-svc
            servicePort: 8001
        - path: /masters/*
          backend:
            serviceName: prod-digisense-masters-svc
            servicePort: 8001
        - path: /mandi/*
          backend:
            serviceName: prod-digisense-mandi-svc
            servicePort: 8001
